@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Karla', sans-serif; */

:root {
  --primary: #3cacae;
  --orchid: #c98882;
  --lilac: #eeb5eb;
  --orchid: #c26dbc;
  --turquoise: #c8f4f9;
}
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color: var(--turquoise);
  font-family: "Karla", sans-serif;
}
.navbar.bg-dark {
  background-color: var(--turquoise) !important;
  min-height: 80px;
  padding: 0;
}
.navbar-brand img {
  height: 4rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #262626;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 1rem !important;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary);
}
.navbar-dark .navbar-brand {
  color: #000;
  font-weight: 600;
}
.bannerCarousel .item img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.banner {
  padding: 5rem 0;
}
.owl-carousel button.owl-dot {
  width: 12px !important;
  height: 12px !important;
  background: var(--orchid) !important;
  margin: 0.15rem;
  border-radius: 50%;
  border: 2px solid var(--orchid) !important;
}
.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
button:focus {
  outline: none !important;
}
.bannerCarousel button.owl-dot.active {
  background: #fff !important;
}
.btnRow {
  padding: 0;
}

.bannerContent h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 4.5rem;
  text-align: center;
}
.bannerContent h4 {
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem 0;
}
.banCon {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bannerForm .form-control {
  height: 3rem;
}

.bannerForm .btn-primary {
  width: 100%;
  background-color: var(--orchid);
  border-radius: 0;
  height: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.form-control:focus {
  border: none;
  box-shadow: none;
}
.latestBlogs,
.popularBlogs {
  padding: 5rem 0;
  background-color: #fff;
  width: 100%;
}
.blogCont a.blogHead {
  color: var(--orchid);
  font-size: 1.2rem;
  padding-top: 0.75rem;
  display: block;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
}
.themeBtn {
  color: var(--orchid);
  text-decoration: none;
  display: block;
}
.themeBtn:hover {
  color: var(--lilac);
  transition: 0.3s ease-in-out;
  transform: translateY(-5px);
}
#blogsCarousel button.owl-dot.active,
#popularblogsCarousel button.owl-dot.active {
  background: #fff !important;
}
.divider {
  margin: 30px 0;
}

.divider .line1 {
  width: 50px;
}
.divider .line1,
.divider .line2 {
  height: 1px;
  background-color: var(--lilac);
  margin: 3px auto;
}
.divider .line2 {
  width: 200px;
}
.themeHead h2 {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 2.5rem;
}
.btnRow {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.btnRow .btn-primary {
  background-color: var(--orchid);
  border-radius: 0;
  height: 3rem;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 200px;
}
.btnRow .btn-primary:hover {
  background-color: var(--lilac);
}
.whyOurBlog {
  padding: 5rem 0;
}
.whyOurBlog .themeHead h2 {
  text-align: left !important;
}
.whyOurBlog .divider .line1,
.whyOurBlog .divider .line2 {
  margin: 3px 0 !important;
}
.whyblogImg {
  height: auto;
}
.whyblogImg img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.topCategories {
  padding: 5rem 0;
}
.categoryCard .cat-head {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  color: #262626;
}
.categoryCard p {
  text-align: center;
  color: #262626;
}
.categoryCard,
.categoryCard:hover {
  text-decoration: none;
}
.categoryCard {
  box-shadow: 7px 5px 10px -5px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 7px 5px 10px -5px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 7px 5px 10px -5px rgba(0, 0, 0, 0.49);
  background-color: #ffffff;
  padding: 2rem 1rem;
  display: block;
  margin-top: 15px;
  transition: 0.3s ease-in-out;
}
.categoryCard:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-15px);
}
.cat-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.cat-img img {
  height: 4rem;
  width: auto;
  object-fit: cover;
  object-position: center;
}
.didYouKnow {
  padding: 5rem 0;
  background-color: #fff;
}
.didYouKnow .imgBlock {
  height: auto;
}
.didYouKnow .imgBlock img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.didYouKnow .themeHead {
  padding-bottom: 2rem;
}
.didYouKnow .blogDet-head {
  font-family: "Libre Baskerville", serif;
}
.didYouKnow .blogDet p {
  font-size: 1rem;
  font-weight: 300;
}
.didYouKnow .btnRow {
  justify-content: flex-end;
}
