@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Karla', sans-serif; */

:root {
  --primary: #f5ecea;
  --secondary: #c98882;
}
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color: var(--primary);
  font-family: "Karla", sans-serif;
}
.navbar.bg-dark {
  background-color: var(--primary) !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #262626;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 1rem !important;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--secondary);
}
.navbar-dark .navbar-brand {
  color: #000;
  font-weight: 600;
}
.bannerCarousel .item img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.banner {
  padding: 5rem 0;
}
.owl-carousel button.owl-dot {
  width: 12px !important;
  height: 12px !important;
  background: var(--secondary) !important;
  margin: 0.15rem;
  border-radius: 50%;
  border: 2px solid var(--secondary) !important;
}
.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
button:focus {
  outline: none !important;
}
.bannerCarousel button.owl-dot.active {
  background: #fff !important;
}
.btnRow {
  padding: 0;
}

.bannerContent h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 4.5rem;
  text-align: center;
}
.bannerContent h4 {
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem 0;
}
.banCon {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bannerForm .form-control {
  height: 3rem;
}

.bannerForm .btn-primary {
  width: 100%;
  background-color: var(--secondary);
  border-radius: 0;
  height: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.form-control:focus {
  border: none;
  box-shadow: none;
}
.latestBlogs {
  padding: 5rem 0;
  background-color: #fff;
  width: 100%;
}
.blogCont a.blogHead {
  color: #c98882;
  font-size: 1.2rem;
  padding-top: 0.75rem;
  display: block;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
}
.themeBtn {
  color: #c98882;
  text-decoration: none;
  display: block;
}
.themeBtn:hover {
  color: #c98882;
  transition: 0.3s ease-in-out;
  transform: translateY(-5px);
}
#blogsCarousel button.owl-dot.active {
  background: #fff !important;
}
.divider {
  margin: 30px 0;
}

.divider .line1 {
  width: 50px;
}
.divider .line1,
.divider .line2 {
  height: 1px;
  background-color: #c98882;
  margin: 3px auto;
}
.divider .line2 {
  width: 200px;
}
.themeHead h2 {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 2.5rem;
}
.btnRow {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.btnRow .btn-primary {
  background-color: var(--secondary);
  border-radius: 0;
  height: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 200px;
}
